[Unit]
Description=__APP__ HTTP service
Requires=__APP__.socket
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
ExecStart=__FINALPATH__/venv/bin/gunicorn benevalibre.wsgi:application --workers __APP_WORKERS_COUNT__ --bind unix:__FINALPATH__/__APP__.sock

[Install]
WantedBy=multi-user.target
